test/application.wadl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<application xmlns="http://wadl.dev.java.net/2009/02">
    <grammars>
        <include href="application.xsd">
            <doc title="Generated" xml:lang="en"/>
        </include>
    </grammars>
    <resources base="http://localhost:8080/web-service/rest/">
        <resource path="/person-endpoint">
            <resource path="/">
                <method id="get-person-method" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns=""
                                            element="personResponse" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="/auth">
            <resource path="/login">
                <method id="login" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="loginRequest"
                                            mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns=""
                                            element="loginResponse" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/user">
                <method id="getUser" name="POST">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="userResponse"
                                            mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/logout">
                <method id="logout" name="POST"/>
            </resource>
        </resource>
        <resource path="/stuff">
            <resource path="/method2/{arg0}/{arg1}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="arg0" style="template" type="xs:string"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="arg1" style="template" type="xs:int"/>
                <method id="postPathParams" name="POST">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="arg2" style="query" type="xs:long"/>
                        <representation mediaType="application/x-www-form-urlencoded">
                            <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="arg3" style="query" type="xs:int"/>
                        </representation>
                    </request>
                    <response>
                        <representation mediaType="text/plain"/>
                    </response>
                </method>
            </resource>
            <resource path="/">
                <method id="getPlainText" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="str" style="query" type="xs:string"/>
                    </request>
                    <response>
                        <representation mediaType="text/plain"/>
                    </response>
                </method>
            </resource>
            <resource path="/method1">
                <method id="postQueryParams" name="POST">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="str" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="num" style="query" type="xs:number"/>
                    </request>
                    <response>
                        <representation mediaType="text/plain"/>
                    </response>
                </method>
            </resource>
            <resource path="/file/{fileName}">
                <param name="fileName" style="template" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                <method id="getFile" name="GET">
                    <response>
                        <representation mediaType="application/octet-stream"/>
                    </response>
                </method>
            </resource>
            <resource path="/avatar/{login}">
                <param name="login" style="template" type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                <method id="getAvatarImage" name="GET">
                    <response>
                        <representation mediaType="image/png"/>
                    </response>
                </method>
            </resource>
            <resource path="/deleteMethod">
                <method id="testDelete" name="DELETE">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="str" style="query" type="xs:string"/>
                    </request>
                    <response>
                        <representation mediaType="text/plain"/>
                    </response>
                </method>
            </resource>
            <resource path="/optionMethod">
                <method id="testOption" name="OPTIONS">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="str" style="query" type="xs:string"/>
                    </request>
                    <response>
                        <representation mediaType="text/plain"/>
                    </response>
                </method>
            </resource>
            <resource path="/headMethod">
                <method id="testHead" name="HEAD">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="str" style="query" type="xs:string"/>
                    </request>
                    <response>
                        <representation mediaType="text/plain"/>
                    </response>
                </method>
            </resource>
        </resource>
    </resources>
</application>
